<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-restaurant-heading">Create or edit a Restaurant</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_restaurantName">Restaurant Name</label>
                    <input type="text" class="form-control" name="restaurantName" id="field_restaurantName"
                           formControlName="restaurantName"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_restaurantOrder">Restaurant Order</label>
                    <select class="form-control" id="field_restaurantOrder" name="restaurantOrder" formControlName="restaurantOrder">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="restaurantOrderOption.id === editForm.get('restaurantOrder')!.value?.id ? editForm.get('restaurantOrder')!.value : restaurantOrderOption" *ngFor="let restaurantOrderOption of restaurantorders; trackBy: trackById">{{ restaurantOrderOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" formControlName="location">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id === editForm.get('location')!.value?.id ? editForm.get('location')!.value : locationOption" *ngFor="let locationOption of locations; trackBy: trackById">{{ locationOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_city">City</label>
                    <select class="form-control" id="field_city" name="city" formControlName="city">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="cityOption.id === editForm.get('city')!.value?.id ? editForm.get('city')!.value : cityOption" *ngFor="let cityOption of cities; trackBy: trackById">{{ cityOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span>Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
