<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span>Product</span> {{ product.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Product Name</span></dt>
                <dd>
                    <span>{{ product.productName }}</span>
                </dd>
                <dt><span>Product Price</span></dt>
                <dd>
                    <span>{{ product.productPrice }}</span>
                </dd>
                <dt><span>Restaurant</span></dt>
                <dd>
                    <div *ngIf="product.restaurant">
                        <a [routerLink]="['/restaurant', product.restaurant?.id, 'view']">{{ product.restaurant?.id }}</a>
                    </div>
                </dd>
                <dt><span>Order</span></dt>
                <dd>
                    <div *ngIf="product.order">
                        <a [routerLink]="['/order', product.order?.id, 'view']">{{ product.order?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div>
